<div class="container">
    <di class="row">
        <div class="col-sm-6">
            <h2>Heading for sothing attractive and cool</h2>
            <p>Say something margical to promote the marketing 
                campain.
            </p>
            <a href="" class = "page_button">get started</a>
        </div>
    </di>
</div>